@font-face {
    font-family: 'College';
    src: url(/fonts/college-cdnfonts/COLLEGE.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.ttf) format('ttf');
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f8f8f8;
}

header {
    height: 150px;
    margin-bottom: 50px;
    background-color: #485b73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'College';
    font-size: 4em;
    color: #ffffff;
    margin: 0;
}

header nav a {
    font-family: 'Poppins';
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.5s ease;
}

header nav a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.team-card {
    width: 250px;
    height: 350px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.team-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}